.container {
	margin-bottom:10px;
}
body {
    /* background-image: url("../../img/background.jpg"); */
    background-color: #eee;
}
.logo {
	padding-top: 55px;
}
.show{
	
}
.inner-addon { 
    position: relative; 
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}
.inline{
	display: inline;
}

#footer {
  background-color: rgb(231, 231, 231);
  height: 100px;
}

#footer p {
	font-size: 16px;
	line-height: 80px;
}

/*for product list grip*/
/* .glyphicon { margin-right:5px; } */
.thumbnail
{
    margin-bottom: 20px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 100%;
}

.item a {
	text-decoration: none;
}

.item.list-group-item
{
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
}
.item.list-group-item:nth-of-type(odd):hover,.item.list-group-item:hover
{
    background: #428bca;
}

.item.list-group-item .list-group-image
{
    margin-right: 10px;
}
.item.list-group-item .thumbnail
{
    margin-bottom: 0px;
}
.item.list-group-item .caption
{
    padding: 9px 9px 0px 9px;
}

.item.list-group-item:nth-of-type(odd)
{
    background: #eeeeee;
}

.item.list-group-item:before, .item.list-group-item:after
{
    display: table;
    content: " ";
}

.item.list-group-item img
{
    float: left;
}
.item.list-group-item:after
{
    clear: both;
}
.list-group-item-text
{
    margin: 0 0 11px;
}
/*end product list grid*/

/*for controller navbar*/
.navbar-fixed-top {
  position: fixed; /* this can also be static */
}
ul.dropdown-cart{
    min-width:625px;
}
ul.dropdown-cart li .item{
    display:block;
    width: 625px;
    padding:1px 10px;
}
ul.dropdown-cart li .item:hover{
    background-color:#f3f3f3;
}
ul.dropdown-cart li .item:after{
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

ul.dropdown-cart li .item-left{
    float:left;
}
ul.dropdown-cart li .item-left img{
    border-right: 2px solid #dedede;
}

ul.dropdown-cart li .item-left img,
ul.dropdown-cart li .item-left ul.item-info{
    float:left;
}

ul.dropdown-cart li .item-left ul.item-info li{
	display:inline-block;
    height:40px;
    border-right: 2px solid #dedede;
}
ul.dropdown-cart li .item-left ul.item-info li#name {
	text-align: left;
	min-width: 250px;
	max-width: 250px;
}
ul.dropdown-cart li .item-left ul.item-info li#qtt {
	text-align: center;
	vertical-align
	min-width: 75px;
	max-width: 75px;
}
ul.dropdown-cart li .item-left ul.item-info li#total {
	text-align: right;
	padding-right: 10px;
	min-width: 150px;
	max-width: 150px;
}

ul.dropdown-cart li .item-right{
    float:right;
}
ul.dropdown-cart li .item-right button{
    margin-top:14px;
}
.cart-list-img {
	width: 40px;
    height: 40px;
}
/*end controller navbar*/

/*left navbar*/
.categories-list {
	border-radius: 5px 5px 0px 0px;
	margin-top: 10px;
	font-size: 20px;
	background-color: #dd0000;
	padding: 5px 10px;
	width: 300px;
}

.categories-list span {
	color: #fff;
}

.cate-list {
	width: 300px;
	margin-left: -10px;
	margin-top: 5px;
	font-size: 20px;
	 
}
.cate-list li {
	padding: 3px;
}
/*end left navbar*/

/*search box*/
/* body {
    padding: 40px 0px;   
} */

#search {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 10;
    -webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;

    -webkit-transform: translate(0px, -100%) scale(0, 0);
	-moz-transform: translate(0px, -100%) scale(0, 0);
	-o-transform: translate(0px, -100%) scale(0, 0);
	-ms-transform: translate(0px, -100%) scale(0, 0);
	transform: translate(0px, -100%) scale(0, 0);
    
    opacity: 0;
}

#search.open {
    -webkit-transform: translate(0px, 0px) scale(1, 1);
    -moz-transform: translate(0px, 0px) scale(1, 1);
	-o-transform: translate(0px, 0px) scale(1, 1);
	-ms-transform: translate(0px, 0px) scale(1, 1);
	transform: translate(0px, 0px) scale(1, 1); 
    opacity: 1;
}

#search input[type="search"] {
    position: absolute;
    top: 50%;
    width: 100%;
    color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0);
    font-size: 60px;
    font-weight: 300;
    text-align: center;
    border: 0px;
    margin: 0px auto;
    margin-top: -51px;
    padding-left: 30px;
    padding-right: 30px;
    outline: none;
}
#search .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 61px;
    margin-left: -45px;
}
#search .close {
    position: fixed;
    top: 55px;
    right: 15px;
    color: #fff;
	background-color: #428bca;
	border-color: #357ebd;
	opacity: 1;
	padding: 10px 17px;
	font-size: 27px;
}
/*end search box*/

/*product view*/
.add-to-cart .btn-qty {
  width: 52px;
  height: 46px;
}
.product-price {
	color: #ff0000;
}
.product-description {
	margin-top: 20px;
}
/*end product view*/

/* cart view */
table tr td.tb-cnt-img, table tr th.tb-cnt-img {
	text-align: center;
	max-width: 50px;
	border: 1px solid #dedede;
}
table tr td.tb-cnt-name, table tr th.tb-cnt-name {
	text-align: left;
	max-width: 100px;
	border: 1px solid #dedede;
}
table tr td.tb-cnt-qtt, table tr th.tb-cnt-qtt {
	text-align: center;
	max-width:50px;
	border: 1px solid #dedede;
}
table tr td.tb-cnt-unit {
	text-align: right;
	max-width:70px;
	border: 1px solid #dedede;
}
table tr th.tb-cnt-unit {
	text-align: center;
	max-width:70px;
	border: 1px solid #dedede;
}
table tr td.tb-cnt-total {
	text-align: right;
	max-width: 70px;
	border: 1px solid #dedede;
}
table tr th.tb-cnt-total {
	text-align: center;
	max-width: 70px;
	border: 1px solid #dedede;
}
table tr td.tb-cnt-act, table tr th.tb-cnt-act {
	text-align: center;
	max-width: 70px;
	border: 1px solid #dedede;
}
/* end cart view */

/* checkout view */
input#co-pos-center {
	margin-left: 325px;
}
/* end checkout view */
}